#wrapper {
  display: grid;
  margin: 2rem 0 2rem 0;
}

#wrapperItemLeft {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 6;
  margin: 1rem 0;
}

#wrapperItemCentral {
  display: grid;
  grid-column-start: 6;
  grid-column-end: 9;
}

#wrapperItemRight {
  display: grid;
  grid-column-start: 9;
  grid-column-end: 15;
  margin: 1rem 0;
}

#wrapperText {
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  color: #3f2b55;
  letter-spacing: 0.2rem;
}
